<div id="<%= dom_id comentario %>">
  <p>
    <strong>Nome:</strong>
    <%= comentario.nome %>
  </p>

  <p>
    <strong>Comentario:</strong>
    <%= comentario.comentario %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= comentario.post.titulo %>
  </p>

  <p>
    <strong>Perfil:</strong>
    <%= comentario.usuario.nome %>
  </p>

</div>
