<p style="color: green"><%= notice %></p>

<%= render @comentario %>

<% if current_usuario == @comentario.usuario %>
  <div>
      <%= link_to "Editar", edit_comentario_path(@comentario) %> |
      <%= link_to "Voltar para Comentários", comentarios_path %>

      <%= button_to "Apagar", @comentario, method: :delete, data: { confirm: "Tem certeza?" } %>
  </div>
<% elsif %>
  <div>
      <%= link_to "Voltar para Comentários", comentarios_path %>
  </div>
<% end %>